body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 10px 20px 60px 10px;
}

.nav{
    display: flex;
    list-style-type: none;
    gap: 24px;
    font-size: 18px;
    color: #e5e7eb
}

.logo {
    font-family: 'Lobster', sans-serif;
    font-size: 24px;
    color: #F9FAF8;
}

#pc {
   width: 85%;
   height: 85%;
   flex: 0;
}

.section1 {
    max-width: 100%;
    background-color: #1f2937;
}

.starting {
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-basis: 100%;
    gap: 300px;
}

.left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;    
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.description {
    font-size: 18px;
    color: #e5e7eb
}


.signup {
    background-color: #3882f6;
    color: white;
    padding: 10px 35px;
    border-radius: 10px;
    border: none;
}

.signup:hover {
    cursor: pointer;
}


