body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 10px 20px 100px 10px;
}

.nav{
    display: flex;
    list-style-type: none;
    gap: 24px;
    font-size: 18px;
    color: #e5e7eb
}

.logo {
    font-family: 'Lobster', sans-serif;
    font-size: 24px;
    color: #F9FAF8;
}

#pc {
    width: 30%;
    height: 30%;
}

.section1 {
    max-width: 700%;
    background-color: #1f2937;
}

.starting {
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 300px;
}

.left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    max-width: 30%;
}

.right {
    width: auto;
    height: auto;
}


