body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #e5e7eb
}

.header {
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 10px 20px 60px 10px;
}

.nav{
    display: flex;
    list-style-type: none;
    gap: 24px;
    font-size: 18px;
    color: #e5e7eb
}

.logo {
    font-family: 'Lobster', sans-serif;
    font-size: 24px;
    color: #F9FAF8;
}

#pc {
   width: 85%;
   height: 85%;
   flex-shrink: 0;
   border: 2px solid #f9faf8;
   border-radius: 10px;
}

.section1 {
    max-width: 100%;
    background-color: #1f2937;
}

.section2 {
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-basis: 100%;
    gap: 300px;
    padding-bottom: 100px;
}

.right {
    flex-shrink: 0;
    max-width: 50%;
    max-height: 50%;
}

.left {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;    
}

.hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.description {
    font-size: 18px;
    color: #e5e7eb
}


.signup {
    background-color: #3882f6;
    color: white;
    padding: 10px 35px;
    border-radius: 10px;
    border: none;
}

.signup:hover {
    cursor: pointer;
}

.section3 {
    padding-bottom: 100px;
    padding-top: 50px;
}

.information {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937
}

.services {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: space-around;
    text-align: center;
}

.services p {
    font-size: 14px;
    color: #1f2937
}

.graphics {
    width: 240px;
    height: 180px;
}

.video {
    width: 240px;
    height: 180px;
}

.coding {
    width: 240px;
    height: 180px;
}

.data {
    width: 240px;
    height: 180px;
}

.service1 img,
.service2 img,
.service3 img,
.service4 img{
    border: 4px solid #3882f6;
    border-radius: 20px;
}

.section4 {
    background-color: #e5e7eb;
}

.quote {
    display: flex;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 70px 0px;
    justify-content: center;
    align-items: center;
}

.quote-text {
    align-self: center;
    font-size: 28px;
    font-weight: 200;
    font-style: italic;
}

.quote-author {
    flex-basis: 300px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

.section5 {
    display: flex;
    width: 100vw;
    height: 300px;
}

.call {
    display: flex;
    margin: auto;
    gap: 200px;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 20px 80px;
}

.contact-head {
    color: #F9FAF8;
    font-size: 24px;
    margin-bottom: 0px;
}

.contact-text {
    margin-top: 5px;
    color: #F9FAF8;
}

.call-button {
    display: flex;
    align-self: center;
}

.bttn {
    width: 150px;
    height: 40px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px 35px;
    border-radius: 10px;
    border: 2px solid #F9FAF8;
}

footer {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    color: #f9faf8;
    padding: 16px 0px
}



